<div class="headerCenter">
    <header>
        <a href="{{ path('app_home')}}" class="iconHeader" alt="ACME logo">ACCUEIL</a>
        <a href="{{ path('app_home')}}" class="iconHeader"  alt="ACME logo">ARTICLES</a>
        <a href="{{ path('app_home')}}"><img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" alt="logo"></a>
        <a href="{{ path('app_home')}}" class="iconHeader" alt="ACME logo">TEST</a>
        <a href="{{ path('app_home')}}" class="iconHeader" alt="ACME logo">CONTACT</a>
    </header>
</div>