<div class="headerCenter">
    <header>
        <a href="{{ path('app_home')}}">ACCUEIL</a>
        <a href="{{ path('app_home')}}" >ARTICLES</a>
        <a href="{{ path('app_home')}}"><img src="{{ asset('build/images/LOGO_BUREAU_MINE.png') }}" alt="logo"></a>
        <a href="{{ path('app_home')}}">TEST</a>
        <a href="{{ path('app_home')}}">CONTACT</a>
    </header>
</div>